.tab-content {
    border: solid 1px var(--cui-border-color);
    border-top: none;
    background-color: var(--cui-body-bg)
}

.simplebar-placeholder {
    height: 0px !important;
}

.submenu {
    position: absolute;
    right: 15px;
}