.btns-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
#tab-permanente tbody tr td:nth-child(2), 
#tab-permanente tbody tr td:nth-child(3),
#tab-temporaria tbody tr td:nth-child(2),
#tab-temporaria tbody tr td:nth-child(3) {
    display: table-cell;
    vertical-align: middle;
}

#tab-permanente tbody tr td:nth-child(2),
#tab-temporaria tbody tr td:nth-child(2){
    text-align: center;
}