.config .nav-link.active {
    border-left: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;  
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-right: -1px;
    z-index: 999;
}
.config > div:last-child {min-height: 79vh;}
.avatar {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    width: 5em;
    height: 5em;
    float: left;
    margin-right: 10px;
}